div.site-header {
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: cornsilk;
}

.nav-links {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background-color: #990a0a;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.3rem;
}

.logo {
    height: 10vh ;
}