:host {
    flex-grow: 1;
}

div.pizza-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1%;
    height: 100%;
}

div.ingredients-wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 2vh;
}

div.type-wrapper {
    flex-basis: 25%;
}

div.topping {
    display: flex;
}

.topping label {
    flex-grow: 1;
    user-select: none;
}

#btn-add-to-cart {
    width: 85%;
    margin: 1vh 1vw;
    padding: 2vh;
    border-radius: 5px;
    border: 4px solid transparent;
    background-color: #990a0a;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

#btn-add-to-cart:active {
    border: 4px inset #440000;
    border-style: inset;
    background-color: maroon;
}